.stackSectionWrapper {
  display: flex;
  justify-content: center;
  margin: 7.5px 0;
}

.stackSection {
  width: 75vw;
  display: flex;
  flex-direction: column;
  border: 2px bisque solid;
  border-radius: 9px;
  font-family: "nanum-gothic";
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "nanum gothic";
  margin: 5px;
  background-color: bisque;
  border-radius: 9px;
  width: 10rem;
  padding: 0.5rem;
}

.stackRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.2rem 0;
  border-radius: 9px;
}

.stackName {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px 5px;
  background-color: bisque;
  border-radius: 9px;
}

.stackDescription {
  display: flex;
  align-items: center;
  width: calc(100% - 15vw);
  margin: 5px;
  padding: 5px 5px;
  border: 2px bisque solid;
  border-radius: 9px;
  line-height: 2rem;
}
