/* 
  .root {
    --color: black;
    --revColor: white;
  }
@media (prefers-color-scheme: dark) {
  .root {
    --color: white;
    --revColor: black;
  }
} */

#navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.navLogo {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navItem {
  display: flex;
  flex: 2;
  justify-content: center;
}

.navItem:hover,
.navItem:focus,
.navItem:active {
  text-decoration: underline;
}

.swiperWrapper {
  height: 500px;
  width: 100%;
}

.swiperImg {
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
}

/* @media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
} */
