/* .mu */

.musicianSectionWrapper {
  display: flex;
  justify-content: center;
}
.musicianSection {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
}

.musicianWrapper {
  padding: 0.5vw;
}

.musicianImg {
  height: calc((75vw - (0.5vw * 6)) / 3 / 25 * 18);
  width: calc((75vw - (0.5vw * 6)) / 3);
  position: relative;
}
.musicianName {
  bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
}
.musicianWrapper:hover .musicianName {
  transition: 0.5s;
  background-color: rgb(247, 183, 118);
  color: black;
}
