@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

/* App */
#App {
  position: absolute;
}

/* ListName */
.list-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #efefef;
}

/* todo-app */
#todo-app {
  position: absolute;
  /* right: -100vw; */
  right: 0;
}

/* TodoList */
.sub-list-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #efefef8b;
}
#todo-list {
  position: relative;
}
#todo-list-div {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ul-wrap {
  display: inline-block;
  width: 30vw;
  margin: 5px 0px;
  vertical-align: top;
}

.uls {
  height: 80vh;
}
#todo-list #todo-ul {
  list-style: none;
  display: inline-block;
  width: 30vw;
  background-color: #ffecf2;
}
#todo-list #todo-ul .todo-item {
  background-color: #e1b8c6;
}
#todo-list #complete-ul {
  list-style: none;
  display: inline-block;
  width: 30vw;
  background-color: #e6f7ff;
}
#todo-list #complete-ul .todo-item {
  background-color: #b0ccda;
}

#todo-list .todo-item {
  cursor: move;
  border-bottom: 1px solid #efefef;
  padding: 10px 10px 10px;
}
#todo-list .todo-item .del-btn {
  float: right;
  right: 20px;
}

/* TodoInput */
#add-todo {
  position: absolute;
  margin: 10px 10px;
}

#add-todo #submit-btn {
  margin-left: 5px;
}

/* TodoCount */
#todo-count {
  position: absolute;
  right: 110px;
  margin-top: 10px;
}

/* removeAll btn */
#remove-all {
  position: absolute;
  right: 20px;
  margin-top: 10px;
}

/* user-app */
#user-app {
  position: absolute;
  top: 0;
  width: 20vw;
  border: 1px solid #efefef;
}

/* UserList */
#user-list-div {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#user-list .user-ul {
  list-style: none;
}

#user-list .user-item {
  border-bottom: 1px solid #efefef;
  padding: 10px 10px 10px;
}

#user-now {
  border-bottom: 1px solid #efefef;
  padding: 10px 10px 10px;
  background-color: lightpink;
}

/* loading */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
}

#loading #loading-text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: yellow;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  top: 50%;
}
