.mainWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c5;
  flex-direction: column;
}

.title {
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.aboutWrapper {
  width: 950px;
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0 2rem;
}

.cardWrapper {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.aboutCard {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  margin: 0 20px;
}
.aboutCard .aboutLabel {
  font-weight: 700;
  width: 170px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.aboutCard .aboutValue {
  font-size: 1.1rem;
}

.myPhoto {
  width: 250px;
  height: calc(2473 / 1855 * 250px);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.link {
  text-decoration: underline;
}

/* .divider {
  width: 10rem;
  height: 0.3rem;
  border: none;
  border-top: 0.3rem solid #43655a;
  margin: 2rem 0;
} */

.content {
  font-family: "Nanum Gothic", sans-serif;
  width: 950px;
  padding: 0 60px;
  font-size: 1.3rem;
  line-height: 1.7;
}
