.mainWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46494d;
}

.myPhoto {
  width: 250px;
  height: calc(2473 / 1855 * 250px);
  position: relative;
  opacity: 0.75;
}
