.mainWrapper {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

.introduce {
  font-family: "Malgun Gothic", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.myPhoto {
  width: 250px;
  height: calc(2473 / 1855 * 250px);
  position: relative;
  opacity: 0.75;
}
